
<html>
    <head>
    <title> main page </title>
    </head>
    <body>
        <a href="https://github.com/login/oauth/authorize?client_id={{client_id}}"> authenticate via OAUTH2 </a>
    </body>
</html>